<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="hello" class="test.Hello">
        
    </bean>
    <bean id="a1" class="dependencyInjection.Address">
        <constructor-arg value="Mohammadpur"></constructor-arg>
        <constructor-arg value="Dhaka"></constructor-arg>
        <constructor-arg value="Bangladesh"></constructor-arg>
    </bean>
    
    <bean id="a2" class="dependencyInjection.Address">
        <constructor-arg value="Mohammadpur 1"></constructor-arg>
        <constructor-arg value="Dhaka 1"></constructor-arg>
        <constructor-arg value="Bangladesh 1"></constructor-arg>
    </bean>
    
    <bean id="e" class="dependencyInjection.Employee">
        <property name="name">
            <value>A Khalid</value>
        </property>
        <constructor-arg value="10" type="int"></constructor-arg>
        <constructor-arg value="Khalid"></constructor-arg>
        <constructor-arg>
            <list>
                <ref bean="a1"></ref>
                <ref bean="a2"></ref>  
            </list>

        </constructor-arg>
    </bean>
    <bean class="dependencyInjection.EmployeeBeanPostProcessor" >
        
    </bean>
</beans>

